<div class="right" *ngIf="dataProvider">

  <h3>List of TODOs</h3>
  <ul>
    <li  *ngFor="let item of dataProvider | async">
      <span>{{ item.name }} | {{item.details}}</span>
      <button (click)="delete(item.name)">x</button>

    </li>
  </ul>

</div>
